{% block content %} 

  <div class="row">

    <div class="small-6 columns">

      <h1>Registration</h1>

      <label for="firstName">First Name</label>
      <input id="firstName" name="firstName" tabindex="1" type="text"/>

      <label for="lastName">Last Name</label>
      <input id="lastName" name="lastName" tabindex="2" type="text" />

      <label for="workTitle">Work Title</label>
      <input id="workTitle" name="workTitle" tabindex="3" type="text" />

      <label for="companyName">Company Name</label>
      <input id="companyName" name="companyName" tabindex="4" type="text" />

      <label for="twitterName">Twitter Name</label>
      <input id="twitterName" name="twitterName" placeholder="justyourname" tabindex="5" type="text" />

      <label for="githubName">Github Name</label>
      <input id="githubName" name="githubName" placeholder="justyourname" tabindex="6" type="text" />

      <label for="dribbbleName">Dribbble Name</label>
      <input id="dribbbleName" name="dribbbleName" placeholder="justyourname" tabindex="7" type="text" />

      <label for="codepenName">Codepen Name</label>
      <input id="codepenName" name="codepenName" placeholder="justyourname" tabindex="8" type="text" />

      <label for="websiteURL">Website URL</label>
      <input id="websiteURL" name="websiteURL" placeholder="http://website.com" tabindex="9" type="text" />

      <button id="profileSubmit">Register</button>

    </div>

    <div class="small-6 columns">
      
      <div class="row">

        <h2>Attendees View</h2>

        <ul class="large-12 columns" id="fb-people">
  
        </ul>

        <h2>Admin View</h2>

        <ul class="large-12 columns" id="fb-admin">
  
        </ul>

      </div>

    </div>

  </div>
  
{% endblock %}